<div class="container mt-4 componentBody">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-between align-items-center">
      <h2>Boletim do Aluno</h2>
      <app-go-back></app-go-back>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4">
      <!-- Imagem do aluno -->
      <img src="{{ student.photoUrl }}" alt="Foto do Aluno" class="img-fluid rounded">
    </div>
    <div class="col-md-8">
      <!-- Detalhes do aluno -->
      <h3>{{ student.name }}</h3>
      <p><strong>Nascimento:</strong> {{ student.birthday }}</p>
      <p><strong>Endereço:</strong> {{ student.address }}</p>

      <h4 class="mt-4">Notas nos Bimestres</h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let note of student.notes; let i = index">
          {{ i + 1 }}° Bimestre : {{ note }}
        </li>
      </ul>

      <p class="mt-4"><strong>Média:</strong> {{ media }}</p>
      <p><strong>Situação:</strong> {{ media < 5 ? 'Reprovado' : 'Aprovado' }}</p>
    </div>
  </div>
</div>
