<div class="bg-dark w-100 mb-5">
    <nav class="container navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <!-- Logotipo -->
        <a class="navbar-brand" routerLink="/">Boletim Online</a>
        <a class="btn btn-primary" routerLink="/student/create">Adicionar Estudante</a>
      </div>
    </nav>
  </div>
  
  <router-outlet></router-outlet>

  <footer class="bg-dark text-light text-center py-3">
    <div class="container">
      <div class="mt-2">
        <a href="https://www.linkedin.com/in/lucas-de-sousa-dantas/" target="_blank" class="text-light me-3">
          <i class="bi bi-linkedin fs-3"></i>
        </a>
        <a href="https://github.com/lucassdantas/" target="_blank" class="text-light">
          <i class="bi bi-github fs-3"></i>
        </a>
      </div>
      <p class="mb-1">Feito por Lucas Dantas</p>
      <p class="mb-0">AD MAIOREM DEI GLORIAM</p>
    </div>
  </footer>
  