<div class="bg-dark w-100 mb-5">
    <nav class="container navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <!-- Logotipo -->
        <a class="navbar-brand" routerLink="/">Boletim Online</a>
  
        <!-- Botão de navegação para telas menores -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- Itens de navegação -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <!-- Itens à esquerda -->
          <ul class="navbar-nav me-auto">
            <!-- Adicione mais itens conforme necessário -->
          </ul>
  
          <!-- Itens à direita -->
          <ul class="navbar-nav">
            <!-- Adicione mais itens conforme necessário -->
            <li class="nav-item">
              <a class="btn btn-primary" routerLink="/student/create">Adicionar Estudante</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
  