<div class="container componentBody">
    <div class="mb-3">
      <label for="filterName" class="form-label">Filtrar por Nome:</label>
      <input type="text" id="filterName" [(ngModel)]="filterName" class="form-control" (input)="updateFilteredStudents()" />
    </div>
  
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Notas</th>
          <th scope="col">Média</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of filteredStudents; let i = index">
          <th scope='row'>{{student.id}}</th>
          <td>{{student.name}}</td>
          <td>
            <div *ngFor="let note of student.notes" class="badge bg-secondary m-1">{{note}}</div>
          </td>
          <td>{{media[i]}}</td>
          <td>
            <div class="btn-group" role="group">
              <a class="btn btn-primary m-1" [routerLink]="['/student/edit', student.id]">Editar</a>
              <a class="btn btn-primary m-1" [routerLink]="['/student/view', student.id]">Ver boletim</a>
              <button type="button" (click)="deleteStudent(student.id)" class="btn btn-danger m-1">Remover</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  