<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Notas</th>
                <th scope="col">Média</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of allStudents; let i = index">
                <th scope='row'>{{student.id}}</th>
                <td>{{student.name}}</td>
                <td>
                    <div *ngFor="let note of student.notes" class="studentNotes">{{note}}
                    </div>
                </td>
                <td>{{media[i]}}</td>
            </tr>
        </tbody>
    </table>
</div>