<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4">
      <h2>Adicione mais um estudante</h2>
      <app-go-back></app-go-back>
    </div>
  
    <form>
      <!-- Campo de upload de foto -->
      <div class="mb-3">
        <label for="photo" class="form-label">Foto:</label>
        <input type="file" name="photo" id="photoInput" (change)="handleFileInput($event)" class="form-control">
      </div>
  
      <!-- Campo de nome -->
      <div class="mb-3">
        <label for="name" class="form-label">Nome:</label>
        <input type="text" name="name" id="nameInput" [(ngModel)]="formData.name" class="form-control">
      </div>
  
      <div class="mb-3">
        <label for="address" class="form-label">Endereço:</label>
        <input type="text" name="address" id="addressInput" [(ngModel)]="formData.address" class="form-control">
      </div>
  
      <!-- Campo de aniversário -->
      <div class="mb-3">
        <label for="birthday" class="form-label">Data de nascimento:</label>
        <input type="text" name="birthday" id="birthdayInput" [(ngModel)]="formData.birthday" class="form-control">
      </div>

      <!-- Campos de notas -->
      <div class="mb-3">
        <label class="form-label">Notas:</label>
        <div class="row">
          <div class="col">
            <input type="text" name="note" id="noteInput" [(ngModel)]="formData.notes[0]" class="form-control" placeholder="Nota 1">
          </div>
          <div class="col">
            <input type="text" name="note1" id="noteInput1" [(ngModel)]="formData.notes[1]" class="form-control" placeholder="Nota 2">
          </div>
          <div class="col">
            <input type="text" name="note2" id="noteInput2" [(ngModel)]="formData.notes[2]" class="form-control" placeholder="Nota 3">
          </div>
          <div class="col">
            <input type="text" name="note3" id="noteInput3" [(ngModel)]="formData.notes[3]" class="form-control" placeholder="Nota 4">
          </div>
        </div>
      </div>
  
      <!-- Botão de adicionar -->
      <div class="mb-3">
        <button type="button" (click)="create()" class="btn btn-primary">Adicionar</button>
      </div>
    </form>
  </div>
  